.htpasswd

################################
# common ignores for all repos
################################
*.log
delit*
delit/
logs/
*.swp
*~
not-for-git/

*.tgz
*.zip
*.xz
*.bzip2
*.tar

a.out
*.so
*.a
*.c.c
*.plist
build/

__pycache__/
*.pyc
*.pyo
################################


