code {
    background-color: rgba(0, 0, 255, 0.1);
}

code:hover {
    background-color: rgba(255, 87, 34, 0.7);
    font-weight: bold;
}

a > code {
    background-color: rgba(0, 0, 255, 0.3);
    color: rgba(0, 0, 0, 1);
}

a > code:hover {
    background-color: rgba(0, 153, 0, 0.5);
    font-weight: bold;
}

a {
    color: rgba(0, 0, 153, 1);
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 2rem;
}
