code {
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 4px;
    padding: 0px 3px;
}

/*
code:hover {
    background-color: rgba(0, 0, 255, 0.2);
    font-weight: bold;
    padding: 0px 3px;
}
*/

a > code {
    background-color: rgba(0, 0, 255, 0.2);
    color: rgba(0, 0, 0, 1);
    padding: 0px 3px;
}

a > code:hover {
    background-color: rgba(0, 0, 255, 0.4);
    font-weight: bold;
    padding: 0px 3px;
}

a {
    color: rgba(0, 0, 153, 1);
    text-decoration: none;
}

.footer {
    text-align: center;
    padding: 2rem;
}
